<html>
  <head>
    <title>PDF List Deco24</title>
    <style>
      body {
        margin: 30px;
        background: Aquamarine;
        font: 30px/1.5 'Futura';
        display: flex;
      }
      header {
        margin-right: 80px;
      }
      ul {
        list-style: none;
        padding-left: 0;
      }
    </style>
  </head>
  <body>
    <header>
      <ul>
        <% files.map(file => { %>
        <li>
          <a href="<%= file.url %>"><%= file.name %></a>
        </li>
        <% }) %>
      </ul>
    </header>
  </body>
</html>
